/* BORDER STYLE
solid = Tipe garis padat (tidak terputus - putus)
dotted = Garis yang dibentuk dari serangkaian titik-titik (jika ketebalan garis 2px, maka titik-titik akan berukuran 2px dan memiliki jarak 2px antar titiknya).
dashed = Garis yang dibentuk dari serangkaian garis pendek.
double = Garis yang dibentuk dari dua buah garis padat.
groove =  Tipe garis yang berbentuk seperti frame
hidden = Digunakan untuk menyembunyikan garis pada elemen. */

.box {
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: groove;
    border-left-style: double;
  
    border-width: 4px;
    border-color: red;
    width: 200px;
    height: 50px;
 }